  
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f7f8;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.client-logo {
    width: 250px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }

.main-title {
    color: #0672CB;
    margin-bottom: 32px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.admin-form label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.admin-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm-button {
    padding: 10px 20px;
    background-color: #0672CB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-button:hover {
    background-color: #005bb5;
}