.background {
  position: relative;
  background-image: url(./assets/background-overlay.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signin-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  width: 450px;
  height: fit-content;
  border-radius: 15px;
}

.logo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 250px;
}

.selector {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.signup-button {
  background-color: #fff;
  border-color: #fff;
  border-radius: 25px;
  margin-right: 10px;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #0b57d0;
}

.signup-button:hover {
  border: none !important;
  background-color: #f7f8fd !important;
  border-radius: 25px !important;
  margin-right: 10px !important;
  padding: 10px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: #0b57d0 !important;
}

.login-button {
  background-color: #0b57d0;
  border-radius: 25px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
}

.login-button:hover {
  background-color: #124eb5 !important;
  border-radius: 25px !important;
  padding: 20px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  margin-left: 10px !important;
  color: white !important;
}

.cancel-button {
  border: none !important;
  background-color: #f7f8fd !important;
  border-radius: 25px !important;
  margin-right: 10px !important;
  margin-left: 15px !important;
  padding: 25px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: #0b57d0 !important;
}

.cancel-button:hover {
  border: none !important;
  background-color: #f7f8fd !important;
  border-radius: 25px !important;
  margin-right: 10px !important;
  padding: 25px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: #0b57d0 !important;
}
